In [1]:
import pandas as pd
import os

## Read in data from Google BQ

In [4]:
# Query to grab Desired data: (Already partitioned a million rows into a table on google cloud)
project_id = 'spark-taxis'
dataset = 'Taxis'
table = 'taxis_sample_2015'
dialect  = 'standard'
creds = os.environ['SPARK_TAXIS_KEY']

q = f'SELECT * FROM `{dataset}.{table}`'

df = pd.read_gbq(
    query=q, 
    project_id=project_id, 
    private_key=creds, 
    dialect=dialect)

In [5]:
# write to csv
df.to_csv('../data/taxis_sample.csv')

In [6]:
df.shape

(1000000, 19)

In [7]:
df.head()

,vendor_id,pickup_datetime,dropoff_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,rate_code,passenger_count,trip_distance,payment_type,fare_amount,extra,mta_tax,imp_surcharge,tip_amount,tolls_amount,total_amount,store_and_fwd_flag
0,VTS,2015-01-15 06:16:22,2015-01-15 06:55:23,-73.988510,40.746101,-74.177292,40.695190,3,1,19.94,CSH,0.0,0.0,0.0,0.3,0.0,15.35,0.0,N
1,VTS,2015-02-18 13:16:54,2015-02-18 13:25:58,-73.969757,40.758541,-73.950272,40.768768,1,1,1.59,CSH,0.0,0.0,0.5,0.3,0.0,0.00,0.0,N
2,VTS,2015-05-10 05:08:19,2015-05-10 05:14:48,0.000000,0.000000,0.000000,0.000000,5,2,0.18,CSH,0.0,0.0,0.0,0.0,0.0,0.00,0.0,N
3,VTS,2015-03-08 03:54:38,2015-03-08 03:56:14,-73.937553,40.758358,-73.937660,40.758286,1,1,0.01,CRD,0.0,0.0,0.0,0.3,0.0,0.00,0.0,N
4,VTS,2015-01-28 07:48:02,2015-01-28 07:54:18,-73.786201,40.643463,-73.786339,40.641830,2,1,3.96,CSH,0.0,0.0,0.5,0.3,0.0,0.00,0.0,N

In [2]:
df = pd.read_csv('../data/10_rides.csv', index_col=0, parse_dates=[2,3])

In [6]:
df.to_json(orient='records')

'{"columns":["vendor_id","pickup_datetime","dropoff_datetime","pickup_longitude","pickup_latitude","dropoff_longitude","dropoff_latitude","rate_code","passenger_count","trip_distance","payment_type","fare_amount","extra","mta_tax","imp_surcharge","tip_amount","tolls_amount","total_amount","store_and_fwd_flag"],"index":[0,1,2,3,4,5,6,7,8,9],"data":[["VTS",1421302582000,1421304923000,-73.9885101318,40.7461013794,-74.1772918701,40.6951904297,3,1,19.94,"CSH",0.0,0.0,0.0,0.3,0.0,15.35,0.0,"N"],["VTS",1424265414000,1424265958000,-73.9697570801,40.7585411072,-73.9502716064,40.7687683105,1,1,1.59,"CSH",0.0,0.0,0.5,0.3,0.0,0.0,0.0,"N"],["VTS",1431234499000,1431234888000,0.0,0.0,0.0,0.0,5,2,0.18,"CSH",0.0,0.0,0.0,0.0,0.0,0.0,0.0,"N"],["VTS",1425786878000,1425786974000,-73.9375534058,40.7583580017,-73.9376602173,40.7582855225,1,1,0.01,"CRD",0.0,0.0,0.0,0.3,0.0,0.0,0.0,"N"],["VTS",1422431282000,1422431658000,-73.7862014771,40.6434631348,-73.7863388062,40.6418304443,2,1,3.96,"CSH",0.0,0.0,0.5,0.3,0.0,0.0,0.0,"N"],["VTS",1432581055000,1432583356000,-73.7898406982,40.6436233521,-73.9644317627,40.7546920776,2,2,17.99,"CSH",0.0,0.0,0.0,0.0,0.0,0.0,0.0,"N"],["VTS",1425792241000,1425793173000,-73.972694397,40.7485656738,-73.9948883057,40.7602767944,1,2,4.5,"CSH",0.0,0.0,0.5,0.3,0.0,0.0,0.0,"N"],["CMT",1428912889000,1428913835000,-73.9515380859,40.7692375183,-73.9763870239,40.7510299683,1,1,0.2,"CRD",0.0,0.0,0.0,0.0,0.0,0.0,0.0,"N"],["VTS",1420982913000,1420982916000,0.0,0.0,0.0,0.0,2,1,0.01,"CSH",0.0,0.0,0.5,0.3,0.0,0.0,0.0,"N"],["VTS",1426840489000,1426840496000,-73.9575195312,40.8162193298,-73.959487915,40.8171081543,1,5,0.09,"CSH",0.0,0.0,0.0,0.3,0.0,0.0,0.0,"N"]]}'